*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
}
.card{
    height: auto;
width: 285px;
position: relative;
flex-direction: column;
margin:32px 32px;

}



.card-image{
    width: 100%;
    height: 100%;
}

.heading-name{
    font-weight: 600;
    font-size: 24px;
    margin: 16px 16px;
}

.info{
    margin: 8px 16px ;
    color: #898989;
    font-weight: 500;
    font-size: 16px;
}
.price{
    font-weight: 600;
    font-size: 20px;
    margin: 8px auto 30px 16px;
    padding-bottom: 30px;
}

.new{
    text-align: center;
    background-color: #2EC1AC;
    height: 48px;
    width: 48px;
    border-radius:50% ;
  position: absolute;
  right:24px;
  top:24px;
  padding:12px 8px;
  color: #fff;
}

.discount{
    background-color: #E97171;
    height: 48px;
width: 48px;
border-radius:50%;
position: absolute;
color: #fff;
top: 24px;
right: 24px;
font-weight: 500;
font-size: 16px;
padding: 12px;
}

.old-price{
    font-weight: 400;
    font-size: 16px;
    text-decoration: line-through;
    color: #B0B0B0;
    margin-left: 16px;
}

.content{
    background-color: #F4F5F7;
    padding-top: 1px;
}

.img{
    height: 301px;
width: 285px;
}

